.creditCardsList {
    margin-bottom: 15px;
}

.creditCard {
    text-align: left;
    border: 1px solid green;
    margin-top: 5px;
    cursor: pointer;
}

.btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between
}

.btn-select {
    background-color: palegreen;
}

.btn-remove {
    background-color: red;
    color: white
}